.blue {
	background: blue;
	color: white;
}

.orange {
	background: orange;
}

#pblue {

}

#porange {

}

#reset {

}

.winnerBlue {
	color: blue;
	font-size: 2em;
}

.winnerOrange {
	color: orange;
	font-size: 2em;
}