.blue {
	background: blue;
	color: white;
}

.orange {
	background: orange;
}



/*.winnerBlue {
	color: blue;
	font-size: 2em;
}

.winnerOrange {
	color: orange;
	font-size: 2em;
}*/
.victoryBlue{
	color:blue;
	font-size: 1.5em;
}

.victoryOrange{
	color: orange;
	font-size: 1.5em;
}